.phone{
	color: green;
	font-size: 20px;
	line-height: 20px;
}

.call{
	text-align: right;
	padding-top: 10px;
}

.search_block:hover{
	
	text-decoration: none;
}

.form-control1 {
  display: inline;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control1:hover,.form-control1:active,.form-control1:focus{
    border-color: green!important;
    outline: none;
}

input:focus{
    border-color: green!important;
    outline: none;
}

.body_search {
	width: 90%;
	background-color: green;
	padding: 10px 1em 10px 1em;
	color: #fff;
	margin-right: 30px;
	margin-bottom: 10px;
}

.under {
	margin-top: 1em;
	margin-left: 8em;
}

.row_search {
  margin-bottom: 10px;
  margin-left: 3em;
  margin-right: 3em;
}

.header_search a {
	color: gray !important;
	margin-right: 2em;
	font-size: 13px;
	padding-bottom: 15px !important;
	float: left;
}

.marginal a {
padding-top: 1em;
padding-bottom: 8px;
padding-left: 2em;
line-height: 3;



}

.marginal li :active {
font-weight: bold !important;

}

.active {
font-weight: bold !important;	
}

ul {
	list-style-type: none !important;
	margin-left: -2em;
	color: gray;

}

.border {
	border-bottom: 2px solid rgb(230, 230, 230); 
	margin-bottom: 1em; 

}


.selector ul li {
	display: inline !important;
	padding: 5px 5px 5px 5px;
	text-align: center !important;


}

.tab {
margin: auto;
color: white;
background-color: green;
float: left;
display: inline-block;

}

.tab li > a {

color: white;
background-color: green;
text-align: left !important;
}

.formater {
 	margin-top: 5px;

}

.urservice {
border-right: 1px solid gray; 

}

.callbtn {
	text-align: center;
}

.modal-input{
    padding: 4px;
}

.modal-input:focus{
    border: 1px solid green;
    outline: none;

}

.filter-input{
    width: 60px;
}

.custom-pager{
    text-align: center;
}

.custom-pager li{
    display: inline;
    padding: 10px;
}


